:root {
	--sl-color-accent-low: #112341;
	--sl-color-accent: #4285F4;
	--sl-color-accent-high: #b2caf0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c6c8ce;
	--sl-color-gray-3: #a0a4ae;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
  --sl-color-orange: #D97706;
}

body {
  background: #072252
}

header.astro-vrdttmbt {
  background: #072252;
  border-right: none;
}

.sl-link-button:where(.astro-xwgiixxa).primary {
    background: var(--sl-color-orange) !important;
    border-color: var(--sl-color-orange) !important;
    color: var(--sl-color-white) !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
    padding: 0.4em 0.75em;
    border-radius: 0.5em;
}

.sl-link-button:where(.astro-xwgiixxa).primary:hover {
    box-shadow: 0 0 2px 1px rgba(251, 191, 36, 0.3);
}

.sl-link-button:where(.astro-xwgiixxa) svg {
  width: 1.5em;
  height: 1.5em;
  color: var(--sl-color-white);
}

.tagline:where(.astro-jbfsktt5) {
    font-size: 2em;
    color: var(--sl-color-gray-2);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img:where(.astro-m46x6ez3) {
  height: calc(var(--sl-nav-height) - 2* var(--sl-nav-pad-y));
  width: auto;
  max-width: 75%;
  object-fit: contain;
  object-position: 0 90%;
}


a:where(.astro-wy4te6ga) {
  color: white;
}

.sidebar-content:where(.astro-vrdttmbt) {
 background:  #072252
}

summary:where(.astro-doynk5tl) {
  background: #072252;
}